header{
  height: 60px;
  justify-content: flex-end;
}


header .btn{
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 4px;
  border-radius: 6px;  
  height: 25px;
  margin: 10px 4px;
}


/* 
MAIN
*/

main{
  height: calc(100vh - 130px);
  color: white;
  overflow-y: auto;
}

/* 
FOOTER
*/

footer{
  height: 70px;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
}

footer .item{
  color: white;
  min-width: 50px;
}

footer .items-right{
  background-color: #4a4a4a;
  height: 100%;
  line-height: 70px;
  color: red;
  padding: 0 10px;
}

footer .item i{
  color: white;
  font-size: 20px;
}

footer .item p{
  font-size: 10px;
}

#chevron{
  font-size: 10px;
}