.debug{
  background-color: red;
  opacity: .3;
}

.flex{
  display: flex;
}

.container{
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.active:active i{
  color: #4bc800;
}

/* 
ALTEZZE
*/

.h100{
  height: 100px;
}
